li {
  list-style: none;
}
.products-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-sidebar-container {
  /* background-color: #d5ab55; */
  text-align: center;
  grid-column: span 1;
}

.right-side-products {
  grid-column: span 4 / auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
  margin: 25px;
  border: 2px solid #ededed;
  padding: 30px;
  cursor: pointer;
}

/* .card:hover {
  transform: translateY(15px);
} */

/* .card-img {
  width: 16rem;
  margin-bottom: 1rem;
} */

/* .card-title {
  margin-bottom: 1rem;
} */

/* .card-review {
  margin-bottom: 1rem;
  display: flex;
}

.ratings-start {
  color: #d5ab55;
}

.total-review {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.btn-container {
  display: flex;
  justify-content: center;
} */

.search-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1377px) {
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .product-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 480) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    /* margin-left: 17rem; */
    margin-top: 2rem;
    z-index: -2;
  }
}