li {
  list-style: none;
}
.products-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.filter-sidebar-container {
  background-color: #ededed;
  grid-column: span 1;
  margin-top: 3.5rem;
  height: 100%;
  text-align: center;
}

.right-side-products {
  grid-column: span 4 / auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
  margin: 25px;
  border: 2px solid #ededed;
  padding: 30px;
  cursor: pointer;
}

/* 
.card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 */

.search-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1377px) {
  .card {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 30px;
    cursor: pointer;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 3rem;
  }
}

@media (max-width: 1280px) {
  .card {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
    margin: 5px;
    border: 2px solid #ededed;
    padding: 30px;
    cursor: pointer;
  }

  .right-side-products {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 912px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 10rem;
  }
}
@media only screen and (max-width: 853px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 8rem;
  }
}
@media only screen and (max-width: 768px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 4.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 3.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 2.3rem;
  }
}
@media only screen and (max-width: 360px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 344px) {
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 2rem;
    z-index: -2;
  }
  .products-page-container {
    grid-template-columns: 1fr;
  }

  .filter-sidebar-container {
    grid-column: 1 / -1;
  }

  .right-side-products {
    grid-column: 1 / -1;
    margin-left: 1.2rem;
  }
}