table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: left;
}
th,
td {
  padding: 12px 15px;
}
th {
  background-color: darkslategrey;
  color: white;
  text-align: left;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}
tr:last-of-type {

}

.table-img {
  height: 100px;
  width: 100px;
}

.image-preview {
  height: 100px;
  width: 100px;
  display: flex;
  margin-top: 10px;
}
