body {
  background-color: #EEEEEE;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRIhPbRifK_mmkU-wx1PJv-8qqRTWjT89WYaPBwSLr4w&s);
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
}
h1{
  font-family: Roboto;
  color: #686D76;
}

p{
  color: #686D76;
  font-family: Lato;
  font-weight: bold;
}

.background-color {
  background-color: #373A40;
}

.btn{
  background-color: #DC5F00;
  border-color: #DC5F00;
}

.btn:hover{
  background-color: #686D76;
  border-color: #686D76;
}